/* for large text*/
@font-face {
    font-family: OurFavFont;
    src: url(SpecialElite.ttf);
}
*{
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
    
}


 
 /*  getting rid of the white space and making the background fill the entire image  */

 html, body {
    margin: 0; 
    padding: 0;
    font-family: OurFavFont;
 }
 /*there was still a tiny bit left at the ul element so set the margin to 0 here too */

 .nav ul{
    margin:0; 
 }
 .nav li {
    display: inline;
 }
 .nav a{
    /* space out the header elements from each other */
    display: inline-block;
    padding: .5em;
    color: rgba(215, 42, 128);
 }
 .main-nav{
    text-align:center;
    font-size: 1.1 em; 
    font-weight:lighter;
    border-bottom: 1px solid rgba(215, 215, 128);
 }

 .main-nav li {
    padding: 6% 5%
 }

 .nav a:hover{
    background-color: rgba(231, 137, 206, 0.281);
 }

 .main-header {
    background-image: url("../images/soft_electric.jpg");
    background-size: cover;
    padding-bottom: 3px;
    color:#13add4;
    background-blend-mode: difference;
}

.piece-name{
    text-align: center;
    margin: 0;
    font-size: 6em;
    
}
.piece-name-large {
    font-size: 7em;
}
.sub-name {
    text-align:center;
    font-size: 5em;
}

.container{
    max-width: 900 px;
    padding: 0;
    margin: 0 auto; 
    line-height: 1.5;
    color: #777;
   
}

.content-section{
    margin:1em;
    text-align: right;
    
}

.section-header {
    text-align: center; 
    font-size: 2.5em; 
}

.side-text {
    margin: -10px 25px;
}
.bathtub{
    float: right;
    height: 60%;
    width: 60%;
    margin: 20px;
    
}
.about-image{
    float: left;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 50% 20%;
}


/*-----------------footer--------------*/
.main-footer{
    background-color: rgba(225, 92, 158, 0.316);
    background-image: url("images/soft_electric.jpg");
    background-blend-mode: multiply;
    color: white;
    padding: .25;
    background-size:cover;
    padding-bottom:10px;

}
.main-footer-container {
    display: flex;
    align-items:center;
}
.main-footer-container ul{
    flex-grow:1;
    text-align:end;
}
.footer-nav li{
    padding:0 0.5em;
}
.footer-nav img{
    width:30px;
    height:30px;
    border-radius: 20% 20%;
}


    


